


.nav{
    margin: auto;
    display: flex;
    border-bottom: 1px solid rgb(252, 243, 243);
    position: fixed;
    background-color: #ffff;
   
}
.nav img{
     width: 70px;
     margin-left: 50px;
     margin-top: 20px;
}

.nav-bar{
    display: flex;
    justify-content:space-between;
    width: 40%;
}
.nav-bar ul {
display: flex;
list-style: none;
justify-content: space-between;

}

.nav-bar li{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.nav-bar-two{
    display: flex;
    float: right;
    justify-content: flex-end;
    margin-left: 250px;
}
.nav-bar-two :nth-child(1){
    margin-top: 40px;
}

.nav-bar-two img{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-top: 50px;
}
.nav-bar-two :nth-child(5){
    margin-top: 59px;
     font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.nav-bar-two :nth-child(6){
    background-color: #2e844a;
    border: none;
    border-radius: 5px;
    width: 110px;
    margin-top: 50px;
    margin-left: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color:#ffff ;

}
.section-one{
    display: flex;

}

.first-style h1{
    margin-top: 100px;
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    text-align: start;
    margin-top: 200px;
    margin-left: 50px;
    color: #032d60;

}

.first-style p{
    font-size: 20px;
    line-height: 30px;
    margin-left: 50px;
    margin-top: 20px;
}
.first-image{
display: flex;

}

.first-image img{
    width: 600px;
    margin-top: 150px;
    margin-left: 100px;
}


.first-style :nth-child(3){
    padding: 15px 40px;
    margin: 20px;
    margin-left: 50px;
    font-size: 15px;
    font-weight: 800;
    background-color: #0176d3;
    color: #ffff;
    border: none;
}

.first-style :nth-child(4){
     padding: 15px 40px;
    margin: 20px;
    margin-left: 1px;
    font-size: 15px;
    font-weight: 800;
    color: #0176d3;
    border: 1px solid #0176d3;
    background-color: #ffff;

}

.second-style h1{
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    color: #032d60;
}
.section-two{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding-top: 50px;
    margin-right: 50px;

}

.section-two h2{
    margin-top: 50px;
    color: #032d60;
    margin-left: 25px;

}

.section-two p{
    margin-top: 30px;
    color: #032d60;
    margin-left: 25px;
}
.pic-two{
    border-radius: 5px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 100px;
    margin-left: 50px;
    border-radius: 0px 0px 15px 15px;

}

.pic-two img{
    width: 400px;
    border-radius: 15px 15px 0px 0px;

}



.pic-three{
    border-radius: 5px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 100px;
    margin-left: 50px;
    border-radius: 0px 0px 15px 15px;

}

.pic-three img{
    width: 400px;
    border-radius: 15px 15px 0px 0px;

}



.pic-four{
    border-radius: 5px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 100px;
    margin-left: 50px;
    border-radius: 0px 0px 15px 15px;

}

.pic-four img{
    width: 400px;
    border-radius: 15px 15px 0px 0px;

}

.third-style h1{
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    color: #032d60;
}

.section-three{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding-top: 60px;
    margin-right: 50px;

}


.pic-five img{
    width: 300px;

}

.pic-six img{
    width: 300px;

}

.pic-seven img{
    width: 300px;

}

.pic-eight img{
    width: 300px;

}

.section-three h4{
    margin-top: 50px;
    color: #032d60;
    margin-left: 25px;
    font-size: 16px;
    line-height: 24px;

}

.section-three p{
    margin-top: 30px;
    color: #032d60;
    margin-left: 25px;
    font-size: 14px;
    line-height: 20px;
}


.fourth-style {
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    color: #032d60;
   
}
.fourth-style p{
    padding-top: 20px;
}

.fourth-style :nth-child(3){
    padding: 15px 40px;
    margin: 20px;
    margin-left: 1px;
    font-size: 15px;
    font-weight: 700;
    color: #0176d3;
    border: 2px solid #0176d3;
    background-color: #ffff;
    margin-top: 50px;
}
   
   
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
.flex{
    display: flex;
}

.div{
    width: 35%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    margin: 0 5%;
    padding-top: 10%;
}

.div h1{
    font-size: 3em;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #032d60;
}
.div .paragraph{
    margin: 5% 0;
    font-size: 1.5em;
    line-height: 1.2;

}
.section1 button, .section10 button, .section11 button{
    width: fit-content;
    color: white;
    background-color: #0176d3;
    border: none;
    /* border: 2px solid #005fad ; */
    padding: 3% 7%;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 3%;
    font-size: 1.1em;

}
.btn-right{
    margin-left: 5%;
    border: 2px solid #0176d3 !important;
    background-color: white !important;
    color: #0176d3 !important;
    font-size: 1.1em;

}
.section1 button:hover {
    background-color: #032d60;
}
.btn-right:hover{
    background-color: #aadbfb70 !important;
}

.section2, .section3{
    width: 92vw;
    margin: 3% auto;
    color: #032d60;
    
}
.big-div{
    width: 100%;
    justify-content: space-between;
}
.flex-items{
    margin: 0 1%;
    padding-bottom: 4%;
    width: 30%;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 2px #8080804f;
}

.section2 h1{
    font-size: 3em;
    text-align: center;
    margin: 0 auto 5%;
    max-width: 65%;

}
.flex-items h2{
    font-size: 1.7em;
    margin: 15% 10%;

}
.four-items h2{
    font-size: 1.5em;

}
.flex-items a{
    margin: 0 10% 15%;
}
.flex-items img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.four-items{
    margin: 0 1%;
    padding-bottom: 4%;
    width: 20%;
    
}
.four-items img{
    width: 100%;
    
}
.four-items p{
    margin: 15% 0;
    font-size: 1.1em;
    color: black;
}

.section3{
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.bg2{
    background-image: url(./images/bg2.webp);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 100%;
}
.section3 .small-img{
    width: 45%;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.section3 h1{
    font-size: 3em;
    text-align: center;
    margin: 0 auto 5%;
    max-width: 65%;

}
.small-img div{
    width: 25%;
    text-align: center;
    height: 120px;
    margin-top: 5%;
}
.section3 img{
    width: 50%;
    padding: 12%;
    border-radius: 50%;
    box-shadow: 0px 2px 10px 2px #8080804f;
    margin: auto;
}

.section3 .paragraph{
    font-size: 1.2em;
    margin-top: -2%;
}
.section3 button{
    padding: 1% 2%;
    width: fit-content;
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 0 !important;
}

.section{
    width: 100%;
    padding: 0 15%;
}
.big-logos{
    margin: 2% 1% 5%;
    width: 18%;
    border: 1px solid rgba(202, 194, 194, 0.576);
    box-shadow: 0px 0px 10px #80808075;
    border-radius: 10px;
    cursor: pointer;
}

.section4{
    padding: 0 4%;
    margin: 3% auto;
    color: #032d60;
    flex-direction: column;
    align-items: center;
}
.section4 h1{
    font-size: 3em;
    text-align: center;
    margin: 5% auto;
    max-width: 60%;
}
.section4 p, .section6 p{
    color: black;
    margin: 5% 10% 10%;
    font-size: 1.1em;
}

.section4 .flex-items h2{
    font-size: 1.7em;
    margin: 5% 10%;

}
.section4 .flex-items a{
    margin: 5% 10% 15%;
}
.section4 .flex-items img{
    width: 33%;
    margin: 5% 33%;
}
.flex-items button{
    border: none;
    border-radius: 35px;
    padding: 2% 3%;
    margin: 0 10%;
    background-color: #aadbfb70 ;

}

.section4 .btn-right, .section8 .btn-right{
    padding: 1% 2%;
    width: fit-content;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 0 !important;
}

.section5{
    padding: 0 0% 5%;
}
.section5 img{
    width: 45%;
    
}
.section5 .paragraph, .section9 .paragraph{
    font-size: 1.2em;
}
.section5 .btn-right, .section9 .btn-right{
    margin-left: 0 !important;
    padding: 3% 5%;
    width: fit-content;
    border-radius: 5px;
    margin-top: 5%;
}
.section5 .div{
    padding-top: 5%;
    width: 40%;
}

.section6{
    background-color: #aadbfb70;
    background:linear-gradient(to bottom in srgb, white, #aadbfb70);
    height: 800px;    
}

.section6 .big-div{
    height: 800px;
    background-image: url(./images/bg3.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 4%;
}
.section6 .flex-items{
    background-color: white;
    height: 550px;
}

.section6 .flex-items h2, .section7 .flex-items h2, .section8 .flex-items h2{
    font-size: 1.7em;
    margin: 5% 10%;

}
.section6 .flex-items a, .section7 .flex-items a, .section8 .flex-items a{
    margin: 5% 10% 15%;
}
.section6 .flex-items img, .section7 .flex-items img{
    margin: 0 0 5% ;
}

.section7 h1, .section8 h1, .section10 h1{
    font-size: 3em;
    text-align: center;
    margin: 5% auto;
    max-width: 65%;

}
.section7, .section8, .section10, .section11{
    margin-bottom: 5%;
    padding: 0 4%;
    color: #032d60;
    flex-direction: column;
    align-items: center;
    
}
.section8 button{
    margin-top: 10%;
}

.section9{
    padding: 0 4%;
    margin-bottom: 5%;
}
.section9 img{
    width: 40%;
}

.section9 .div{
    padding-top: 7%;
    margin-left: 15%;
    width: 40%;
}
.section10 img{
    width: 80%;
    margin-top: 5%;
}
.section10 button{
    padding: 1% 3%;
    margin-top: -3%;
    border: none;
}

.section11-div{
    width: 100%;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 2px #8080804f;

}

.section11-div .div{
    width: 45%;
    margin-left: 8%;
}
.section11-div img{
    margin-left: 8%;

}
.section11 button{
    border: none;
    margin-top: 5%;
}

footer{
    width: 100%;
    padding: 2% 0%;
}
.footer-div{
    width: 85%;
    margin:  0 4% 4%;
    justify-content: space-between;
}

.footer-div li{
    font-size: .8em;
    color: #0176d3;
    line-height: 2.5;
}
.footer-div .black{
    font-size: 1em;
    color: black;
    line-height: 5;

}
.footer-div .logo{
    width: 60%;
    margin-bottom: 10%;
}

.footer-div div p, .footer-div div a{
    margin: 20% 0;
    font-weight: bolder;
}

.footer{
    color: white;
    background-color: #032d60;
    width: 100%;
    padding:  2% 4%;
    font-size: .8em;
}
.footer b{
    font-size: 1.5em;
    margin: 0 5%;
}
.footer a{
    color: white;
    margin-bottom: 2%;}
.footer ul{
    width: 80%;
    justify-content: space-between;
}
.footer p{
    max-width: 90%;
}

